config:
  dockerfile: .woloxci/Dockerfile
  project_name: graphql

services:
  - postgres
  - redis

steps:
  copy_node_modules:
    - cp -r $NODE_PATH/ ./
  migrate_db:
    - node_modules/.bin/sequelize db:migrate
  lint:
    - npm run lint
  checkScema:
    - npm run start-service
    - npx apollo service:check
    - npx apollo service:push
    - npm run stop-service
  test:
    - npm run test

environment:
  GIT_COMMITTER_NAME: a
  GIT_COMMITTER_EMAIL: b
  LANG: C.UTF-8
